# Ignore large model files
model_1/model.safetensors
model_2/model.safetensors
model_3/model.safetensors
 
results_fold_*/checkpoint-*/*
ncert-ocr-project-25e2aa740513.json
ncert-ocr-project-25e2aa740513.json
